.add {
  position: relative;
  font-size: var(--font-size-xs);
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
}
.frameButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm);
  background-color: var(--color-violet);
  border-radius: var(--br-md);
  width: 249px;
  height: 50px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
