.title {
  position: relative;
  font-size: var(--font-size-base);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
}
.inputDefault {
  background-color: white;
  align-self: stretch;
}
.frameDiv {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.dueDate {
  position: relative;
  font-size: var(--font-size-sm);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
}
.datePickerBasic {
  align-self: stretch;
}
.addForm {
  position: absolute;
  width: calc(100% - 58px);
  top: 126px;
  right: 33px;
  left: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-lg);
}
