@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tODOS {
  position: relative;
  display: inline-block;
}
.checkCircleIcon {
  position: relative;
  width: 37px;
  height: 37px;
  flex-shrink: 0;
  overflow: hidden;
}
.logotype {
  position: absolute;
  top: 26px;
  left: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-0);
  opacity: 0;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.logotype.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
